@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --color-bg-panel: #0b192b;
  --color-bg-gradient-1: #0b0a2d;
  --color-bg-gradient-2: #1b375c;
  --color-text-main: #eee;
  --color-text-green: #1ccf00;
  --color-text-yellow: #ecd53f;
  --color-text-gray: #d0d0d0;
  --color-border: #2f61d5;
  --color-button: #b90000;
  --color-button-hover: #ff5858;
  --color-shadow: rgba(0, 0, 0, 0.6);
  --shadow-big-blur: 12px;
  --shadow-medium: 0 0 var(--shadow-big-blur) var(--color-shadow);
  --shadow-soft: 1px 1px 2px var(--color-shadow);
  --radius: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 14px;
  font-family: "Noto Sans", system-ui, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 14px;
  color: var(--color-text-main);
  background-image: linear-gradient(45deg, var(--color-bg-gradient-1), var(--color-bg-gradient-2) 50%, var(--color-bg-gradient-1) 100%),
  url('./bdg.jpg');
  background-blend-mode: multiply;
  background-size: cover;
}
#ui, .mid, #desc {
  overflow: auto;
  display: flex;
  min-width: 320px;
  width: 320px;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.5;
  max-height: calc(100vh - 28px);
  border-radius: var(--radius);
  padding: 14px;
}
#ui {
  gap:7px;
  line-height: 1.33;
}
.mid {
  gap: 18px;
}
#desc {
  width: 660px;
  text-align: justify;
  color: var(--color-text-gray);
}
.params {
  background: var(--color-bg-panel);
  padding: 5px var(--radius) var(--radius);
  border-radius: var(--radius);
  box-shadow: var(--shadow-medium);
  border: 1px solid var(--color-border);
}
p {
  text-indent: 18px;
  margin-bottom: 8px;
}
h2, h3 {
  color: var(--color-text-main);
  text-shadow: 0 0 var(--shadow-big-blur) var(--color-border);
}
h2 {
  font-weight: 800;
  text-align: center;
  font-size: 1.7em;
}
h3 {
  margin-bottom: 8px;
  font-size: 15px;
}
label {
  display: inline-block;
  margin: 12px 0 6px;
  color: var(--color-text-gray);
}
#desc ul, .center ul {
  margin-left: 18px;
  margin-bottom: 8px;
  color: var(--color-text-gray);
}
.center ul {
  margin-bottom:0;
}
.history p {
  font-size: 12px;
  margin-bottom:0;
}
.center {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  color: var(--color-text-gray);
}
canvas {
  display: block;
  width: 100%;
  box-shadow: var(--shadow-medium);
  background: var(--color-bg-panel);
}
#hist {
  margin-top: 11px;
  height: 96px;
  padding: 0 5px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
}
.pill {
  display: inline-block;
  padding: 3px 10px 0px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-medium);
}
.global, .hist, .buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.global {
  margin: 0 auto;
}
.global .pill {
  text-shadow: var(--shadow-soft);
  box-shadow: none;
}
.hist {
  margin-top: 6px;
}
.hist .pill {
  width: 32%;
  padding: 5px 10px 6px;
  text-align: center;
  border: 1px solid var(--color-border);
  background: var(--color-bg-panel);
  font-size: 12px;
}
.pill b {
  display: inline-block;
  min-width: 30px;
  font-weight: 700;
}
.pill #best {
  color: var(--color-text-green);
}
.pill #avg {
  color: var(--color-text-yellow);
}
.pill #totalFit {
  color: var(--color-text-gray);
}
button, select {
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  color: var(--color-text-main);
  border-radius: var(--radius);
  text-shadow: var(--shadow-soft);
  box-shadow: var(--shadow-medium);
}
button {
  padding: 5px 18px 8px;
  background: var(--color-button);
}
button:hover {
  background: var(--color-button-hover);
}
select {
  width: 100%;
  padding: 5px 8px 8px;
  background: var(--color-bg-gradient-2);
}
input[type=range] {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  body {
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 100%;
  }
  #ui, .mid, #desc {
    line-height: 1.33;
    max-width:512px;
    min-height: 100%;
    width:auto;
    min-width: 320px;
    max-height: 100%;
  }
  .center {
    overflow: visible;
  }
}