 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   font-family: system-ui, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial;
   background: #111;
   background: linear-gradient(45deg, #0c0a1f, #1b375c 50%, #0c0a1f 100%);
   color: #eee;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   height: 100vh;
   overflow: hidden;
   gap: 32px;
   padding: 24px;
 }

 #ui {
   min-width: 320px;
   width: 320px;
   max-height: calc(100vh - 48px);
   overflow: auto;
   background: #0c1928;
   padding: 8px 18px 18px;
   border-radius: 12px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .params {
   background: #000e21ff;
   padding: 5px 18px 18px;
   border-radius: 12px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
   border: 1px solid #2f61d5;
 }

 p {
   text-indent: 18px;
 }

 #desc {
   max-width: 45%;
   text-align: justify;
   max-height: calc(100vh - 48px);
   font-size: 14px;
   line-height: 1.5;
   color: #bbb;
   overflow: auto;
   background: #0c1928;
   padding: 0 16px 16px;
   border-radius: 12px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
 }

 .mid {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   min-width: 430px;
   width: 430px;
   max-height: calc(100vh - 48px);
 }

 .center {
  margin:0 0 13px 0;
   display: block;
   text-align: justify;
   font-size: 14px;
   line-height: 1.5;
   color: #bbb;
   padding: 16px;
   border-radius: 12px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
   background: #0c1928;
 }

 canvas {
   border-radius: 8px;
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
 }

 .center #cv {
   width: 400px;
   display: block;
   background: #0c1928;
 }


 h2 {
   font-weight: 600;
   text-align: center;
   text-shadow: 0px 0px 12px rgb(12, 133, 208);
   color: #d2e0ff
 }

 .stat {
   margin: 8px 0;
 }

 .pill {
   padding: 3px 10px 5px 10px;
   border-radius: 6px;
   display: inline-block;
   font-size: 13px;
 }

 .global {
   width: 100%;
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
 }

 .global .pill {
   text-shadow: 2px 2px 2px rgb(0, 0, 0);
 }

 .hist {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
 }

 .hist .pill {
   text-align: center;
   width: 30%;
   border: 1px solid #2f61d5;
   background: #000e21ff;
 }

 .pill b#best {
   color: rgb(28, 207, 0);
   font-weight: 700;
   display: inline-block;
   min-width: 30px;
 }

 .pill b#avg {
   color: #ffdb6eff;
   font-weight: 700;
   display: inline-block;
   min-width: 30px;
 }

 .pill b#totalFit {
   color: #ccc;
   font-weight: 700;
   display: inline-block;
   min-width: 30px;
 }

 #hist {
   padding: 0 5px;
   width: 100%;
   height: 96px;
   border: 1px solid #2f61d5;
   border-radius: 6px;
   background: #000e21ff;
   display: block;
   margin: 9px 0 0;

   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
 }

 label {
   display: inline-block;
   margin: 12px 0 6px;
   font-size: 14px;
   color: #ccc;

 }

 input[type=range] {
   width: 100%;
 }

 .buttons {
   width: 100%;
   display: flex;
   justify-content: space-around;
   margin-top: 16px;

 }

 button {
   padding: 6px 14px 8px 14px;
   color: #eee;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   transition: background 0.2s;
   text-shadow: 2px 2px 2px rgb(0, 0, 0);
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
   background: #7d0505;
   border: 1px solid #ff5858;
 }

 button:hover {
   background: #ff5858;
 }

 select {
   width: 100%;
   padding: 6px;
   border-radius: 6px;
   border: none;
   background: #0f3609;
   color: #eee;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
 }

 #desc h3,
 .center h3 {
   margin-top: 10px;
   margin-bottom: 8px;
   color: #eee;
   font-size: 15px;
 }

 #desc ul,
 .center ul {
   margin-left: 18px;
   color: #aaa;
 }