 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   font-family: system-ui, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial;
   background: #111;
   background: linear-gradient(45deg, #0c0a1f, #1b375c 50%, #0c0a1f 100%);
   color: #eee;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   height: 100vh;
   overflow: hidden;
   gap: 32px;
   padding: 24px;
 }

 #ui {
   width: 320px;
   max-height: calc(100vh - 48px);
   overflow: auto;
   background: #191f26;
   padding: 10px 20px 20px;
   border-radius: 12px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
   display: block;
 }

 p {
   text-indent: 18px;
 }

 #desc,
 .center {
   max-width: 44%;
   text-align: justify;
   max-height: calc(100vh - 48px);
   /* odejmujemy padding body */
   font-size: 14px;
   line-height: 1.5;
   color: #bbb;
   overflow-y: auto;
   background: #191f26;
   padding: 0 16px 16px;
   border-radius: 12px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
 }

 .center {
   max-width: 432px;
   display: block;
 }

 canvas {
   border-radius: 8px;
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
 }

 .center #cv {
   width: 400px;
   margin: 16px auto;
   display: block;
   background: #191f26;

 }


 h2 {
   font-weight: 600;
   margin-bottom: 10px;
   text-align: center;
 }

 .stat {
   margin: 8px 0;
 }

 .pill {
   background: #333;
   padding: 3px 10px 7px 10px;
   border-radius: 6px;
   display: inline-block;
   font-size: 13px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
 }

 .global {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
 }

 .hist {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top:5px;
 }

 .hist .pill {
   text-align: center;
   width: 30%;
   border: 1px solid #2f61d5;
   background: #000e21ff;
 }

 /* wyróżnienie wartości najlepszego fitnessu */
 .pill b#best {
   color: rgb(28, 207, 0);
   font-weight: 700;
   display: inline-block;
   min-width: 30px;
 }

 .pill b#avg {
   color: #ffdb6eff;
   font-weight: 700;
   display: inline-block;
   min-width: 30px;
 }

 .pill b#totalFit {
   color: #ccc;
   font-weight: 700;
   display: inline-block;
   min-width: 30px;
 }

 /* histogram rozkładu fitnessu */
 #hist {
   padding: 0 5px;
   width: 100%;
   height: 96px;
   border: 1px solid #2f61d5;
   border-radius: 6px;
   background: #000e21ff;
   display: block;
   margin: 12px 0 0;

   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
 }

 label {
   display: inline-block;
   margin: 12px 0 6px;
   font-size: 14px;
   color: #ccc;

 }

 input[type=range] {
   width: 100%;
 }

 button {
   padding: 8px 14px;
   background: #444;
   color: #eee;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   margin-right: 8px;
   transition: background 0.2s;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
 }

 button:hover {
   background: #666;
 }

 select {
   width: 100%;
   padding: 6px;
   border-radius: 6px;
   border: none;
   background: #333;
   color: #eee;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
 }

 #desc h3,
 .center h3 {
   margin-top: 10px;
   margin-bottom: 8px;
   color: #eee;
   font-size: 15px;
 }

 #desc ul,
 .center ul {
   margin-left: 18px;
   color: #aaa;
 }